/* NAVIGATION STUFF GOES HERE  */

/* HOTEL CARDS */
#hotelplacement {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    
    section {
        grid-template-columns: 1fr 1.5fr;
        grid-template-areas: 
            "img title"
            "img address"
            "img phone";
        background-color: #ffffff;
        padding: 1.25rem;
        border-radius: 8px;
    }
    
    img {
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }
    
    h2 {
        align-self: center;
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
}
  
  