$primaryColor: #0e4c92; // Blue for sky/ocean
$secondaryColor: #ff9e1b; // Warm orange for sunset/destinations
$accentColor: #42b883; // Green for nature/adventure
$greyColor: #e1e1e1;

$defaultFont: 'Inter', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;